<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">

<body>
    <div class="left">
        <div id="app">
            <svg width="100%" height="400px">
                <defs>
                    <marker id="arrow" markerUnits="strokeWidth" markerWidth="10" markerHeight="10"  refX="5" refY="5" viewBox="0 0 10 10">
                        <polygon points="0,0 2,5 0,10 10,5"></polygon>
                    </marker>
                </defs>
                <edge
                    v-bind:selected_id="selectedEdgeId"
                    v-for="edge in edgeViews"
                    v-bind:key="edge.key"
                    v-bind:prop="edge"
                    v-on:click="edge.click"
                />
                <node
                    v-for="node in nodeViews"
                    v-bind:key="node.key"
                    v-bind:prop="node"
                    v-on:mousedown="node.mousedown($event)"
                    v-on:mouseup="node.mouseup($event)"
                />
            </svg>
        </div>
        <div class="node_adder">
            <button type="button" id="glCoord">Coord</button>
            <button type="button" id="const">Const</button>
            <button type="button" id="binOpe">Ope</button>
            <button type="button" id="vec2to4">V2toV4</button>
            <button type="button" id="vec2toFloats">V2toF</button>
            <button type="button" id="floatstoVec2">FtoV2</button>
            <button type="button" id="sin">Sin</button>
            <button type="button" id="texture">Tex</button>
            <button type="button" id="texture2D">Tex2D</button>
            <button type="button" id="uniformFloat">Uni</button>
        </div>
        <div id="screen"></div>
    </div>
    <div class="right">
        <div id="app3">
            <component v-bind:is="editor" v-bind:prop="node" v-on:drop="drop($event, node)" v-on:dragover="dragover($event)" v-on:input="input($event, node)"/>
        </div>
        <div id="app2">
            <button v-on:click="generate">code generate</button>
            <div>{{ code }}</div>
        </div>
        <div id="rtc">
            <button type="button" v-on:click="makeConnection">Make Connection</button>
            <button type="button" v-on:click="viewPeer">viewPeer</button>
            </br>
            toSend<input v-model="toSend" readonly="readonly"/></br>
            recieve<input v-model="recieveData"/>
            <button type="button" v-on:click="recieve">recieve</button></br>
            answer<input v-model="answerData"/>
            <button type="button" v-on:click="answer">answer</button>
        </div>
    </div>
    <script src="dist/hoge.js"></script>
</body>