<!DOCTYPE html>
<meta charset="UTF-8">

<body>
    <!-- <svg>
        <polygon onclick="alert('hoge')" points="100,10 40,198 190,78 10,78 160,198"
            style="fill:lime;stroke:purple;stroke-width:5;fill-rule:nonzero;" />
    </svg> -->
    <div id="app">
        <svg width="600" height="400">
            <node
                v-for="node in nodes"
                v-bind:key="node.key"
                v-bind:prop="node"
                v-on:mousedown="node.mousedown($event)"
                v-on:mouseup="node.mouseup($event)"
                v-on:mousemove="node.mousemove($event)"
            />
            <edge
                v-for="edge in edges"
                v-bind:key="edge.key"
                v-bind:prop="edge"
            />
        </svg>
    </div>
    <script src="dist/hoge.js"></script>
</body>